<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>560439961802-t3adqb3lmkb9u4epsnlq7i999p9c3j9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560439961802-t3adqb3lmkb9u4epsnlq7i999p9c3j9i</string>
	<key>API_KEY</key>
	<string>AIzaSyBt75kZk3IK-SbZ0EMQam5Nog_x2-kPs0U</string>
	<key>GCM_SENDER_ID</key>
	<string>560439961802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lawrencehan.Chat-Box</string>
	<key>PROJECT_ID</key>
	<string>chat-box-6f8eb</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-box-6f8eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:560439961802:ios:41cfd8e7d4a177bb</string>
	<key>DATABASE_URL</key>
	<string>https://chat-box-6f8eb.firebaseio.com</string>
</dict>
</plist>